.chart_victor div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
.chart_aaron div {
  font: 10px sans-serif;
  background-color: red;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

table {
    width: 100%;
}

td, th, tr {
  text-align: center;
}

table, th, td {
  border: 1px solid black;
}
